<%= stylesheet_link_tag "home" %>
<h1>Welcome to the LinkTree!</h1>
<p>Be a part of our family!Empower your online presence with LinkTree: Your all-in-one solution for organizing and sharing your digital footprint effortlessly!</p>

<div class="send">
<%= link_to "New Tree",  new_tree_path %>
</div>